{% if record[column.options.quantity_field] > 0 %}
  {% set badgeClass, badgeText = 'badge-success', 'Yes'|trans({}, 'Admin.Global') %}
{% else %}
  {% set badgeClass, badgeText = 'badge-danger', 'No'|trans({}, 'Admin.Global') %}
{% endif %}

<p class="text-center mb-0">
  <span class="badge badge-pill {{ badgeClass }}">
    {{ badgeText }}

    {% if column.options.with_quantity %}
      ({{ record[column.options.quantity_field] }})
    {% endif %}
  </span>
</p>
